<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yxy.checkbitmap">

    <application>
        <provider
            android:enabled="true"
            android:exported="false"
            android:authorities="com.yxy.checkbitmap.LargeBitmapContentProvider"
            android:name=".LargeBitmapContentProvider"/>


    </application>
</manifest>